= form_for(@job) do |f|
  - if @job.errors.any?
    #error_explanation
      %h2
        = pluralize(@job.errors.count, "error")
        prohibited this job from being saved:

      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    %br
    = f.text_field :description

  .field
    = f.label :tags
    %br
    = select_tag "tag_ids[]", options_from_collection_for_select(Tag.all, "id", "name", @job.tags.map{|t| t.id}), :multiple => true

  = hidden_field_tag  :videos, "", :id => "added_video_list"

  .actions
    = f.submit
