= form_for(@job) do |f|
  - if @job.errors.any?
    #error_explanation
      %h2
        = pluralize(@job.errors.count, "error")
        prohibited this job from being saved:

      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  %dl.none
    %dt
      = f.label :description
    %dd
      = f.text_area :description, :rows => 5, :cols => 54
    %dt
      = label_tag 'tag_ids[]' ,'Tags'
    %dd
      = select_tag "tag_ids[]", options_from_collection_for_select(Tag.all, "id", "name", @job.tags.map{|t| t.id} + [params[:tag]]), :multiple => true
      = hidden_field_tag  :videos, "", :id => "added_video_list"
    %dt
      = f.submit "Save Job", :class => "ack"
