#filler_turk.grid_6
  %h3 
    - if is_admin?
      Admins
    - else
      Turks

.job_block.grid_6
  %h3 
    - if is_admin?
      Jobs available to Turks
    - else
      Jobs available  
  - if is_admin?  
    %p
      Click on a job to see its <b>details</b>, <b>edit</b> it, and even <b>delete</b> it.
  %dl.job_container.none
    - @jobs.each do |job|
      %dt
        = link_to "Job ##{job.id}", job
      
      %dd.job_description
        = job.description
      
      -# .job_field
        -# Requestor:
        -# = job.requestor_name
      -# .job_field
        -# Tags:
        -# = job.tags.collect { | tag| tag.name}.join(', ')
    
      %dd.job_actions
        - if is_admin?
          -# = link_to 'Edit', edit_job_path(job), :class => "link_button"
        - else
          = link_to 'PLAY!', "/jobs/#{job.id}/work", :class => "link_button"

-#  - if current_user.kind == "admin"
-#    #new_job_link
-#      = link_to 'New Job', new_job_path
  

