#filler_turk.grid_6
  %h3 Turks

.job_block.grid_6
  %h3 Available jobs
  - @jobs.each do |job|
    %ul.job_container.none
      %li 
        %h4 Job ##{job.id}
      
      %li.job_description
        = job.description
      
      -# .job_field
        -# Requestor:
        -# = job.requestor_name
      -# .job_field
        -# Tags:
        -# = job.tags.collect { | tag| tag.name}.join(', ')
    
      %li.job_actions
        - if current_user.kind == "admin"
          = link_to 'Edit', edit_job_path(job)
        - else
          = link_to 'PLAY', "/jobs/#{job.id}/work", :class => "link_button"

  - if current_user.kind == "admin"
    #new_job_link
      = link_to 'New Job', new_job_path
  

