<h1>Listing jobs</h1>

<table>
	<tr>
		<th>Videos</th>
		<th>Codes</th>
		<th>Funding</th>
		<th></th>
	</tr>

	<% @jobs.each do |job| %>
		<tr class="active<%= job.active %>">
			<td><%= job.videonames.join(", ") %></td>
			<td><%= job.codenames.join(", ") %></td>
			<td><%= job.spent %> / <%= job.budget%></td>
			<% if current_user.kind == "turk" %>
				<td><%= link_to 'Work', "jobs/#{job.id}/work" %></td>
			<% else %>
				<td><%= link_to 'Edit', edit_job_path(job) %></td>
			<% end %>
		</tr>
	<% end %>
</table>

<br />

<%= link_to 'New Job', new_job_path %>
