<p id="notice"><%= notice %></p>

<p>
  <b>Budget:</b>
  <%= @job.spent %> / <%= @job.budget %>
</p>

<p>
  <b>Active:</b>
  <%= @job.active %>
</p>

<p>
  <b>Videos:</b>
  <%= @job.videonames.join(", ") %>
</p>

<p>
  <b>Codes:</b>
  <%= @job.codenames.join(", ") %>
</p>


<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
