%script
  -# Init global variables
  var coveTag = new coveTag();
  coveTag.setCurTimeDiv("curTime");
  coveTag.setTotTimeDiv("totTime");
  coveTag.setProgressBar("progbar");
  coveTag.setActiveTagDiv("activeTags");
  coveTag.setTagListDiv("tagList");
  coveTag.setStatusLength(10);
  coveTag.setSeekBack(0.04);
  coveTag.setFilepath('/#{@job.videos.first.filepath}');
  coveTag.setVideoId('#{@job.id}');
  coveTag.setActiveTagText('YOU ARE NOW TAGGING!');

  -# This would be populated by some server side deal
  var activeTag = new Array(#{@job.tags.length});
  
  - @job.tags.each_index do |i|
    activeTag[#{i}] = ['#{@job.tags[i].name}', false, '#{@job.tags[i].id}'];

  coveTag.setActiveTag(activeTag);
    
%h2 Tag all instances of Riffing

#jwplayer_container Loading the player ...

#timeContainer
  #curTime 
  of
  #totTime
   
#progbar []

- @job.tags.each_index do |i|
  -# Hold to click:
  - tagButton_hold = "tagButton_hold_" + @job.tags[i].name
  - tagButton_toggle = "tagButton_toggle_" + @job.tags[i].name

  %button(id=tagButton_hold)
    = "Hold to tag " << @job.tags[i].name

  -# Push to toggle:
  %button(id=tagButton_toggle)
    = "Click to toggle " << @job.tags[i].name

%h3 Active Tags
#activeTags

%h3 Completed Tags
#tagList No tags

= link_to "Back to jobs", jobs_path
  
