= javascript_include_tag "/jwplayer/jwplayer.js"
= javascript_include_tag "/javascripts/coveTag.js"

%script
  -# Init global variables
  var timerDiv = "prog";
  var progressBar = "progbar";
  var activeTagDiv = "activeTags";
  var tagListDiv = "tagList";
  var statusLength = 10;
  var seekBack = 0.04;
  var filepath = '/#{@job.videos.first.filepath}';

  -# This would be populated by some server side deal
  var activeTag = new Array(#{@job.codes.length});
  
  - @job.codes.each_index do |i|
    activeTag[#{i}] = ['#{@job.codes[i].name}', false];
    
%h2 Tag all instances of Riffing

#jwplayer_container Loading the player ...

#prog
#progbar []

-# Hold to click:
  %button#tagbutton Hold to tag riffing

-# Push to toggle:
%button#tagbutton_2 Click to Toggle Riffing

%h3 Active Tags
#activeTags

%h3 Completed Tags
#tagList No tags

  
  
