- if not user_signed_in?
  :javascript
    jQuery(function(){
      $("header").hide();
    });

  %h2.grid_12
    COVE: collaborative online viewing experience

  .grid_6#filler_home
    &nbsp;
	
  .grid_6
    %h3 Returning users
    = form_for(User.new, :as => "user", :url => session_path("user")) do |f|
      %fieldset
        = f.email_field :email
        = f.password_field :password
        = f.submit "Sign in", :class => "ack small"
        = f.check_box :remember_me
        = f.label :remember_me 
    %br
    %br
    %h2
      = "Join today!"
    = form_for(User.new, :as => "user", :url => registration_path("user")) do |f|
      %fieldset
        %dl.signUp.none
          %dd
            = f.email_field :email, :placeholder => "username@email.com"
          %dd
            = f.password_field :password, :placeholder => "password"
          %dd
            = f.password_field :password_confirmation, :placeholder => "confirm password"
          %dt
            = f.submit "Sign up", :class => "ack"
            
- else

  %p
    Congrats, you're in!