<h1>Listing jobcodes</h1>

<table>
  <tr>
    <th>Job</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobcodes.each do |jobcode| %>
  <tr>
    <td><%= jobcode.job_id %></td>
    <td><%= jobcode.code_id %></td>
    <td><%= link_to 'Show', jobcode %></td>
    <td><%= link_to 'Edit', edit_jobcode_path(jobcode) %></td>
    <td><%= link_to 'Destroy', jobcode, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jobcode', new_jobcode_path %>
