<p id="notice"><%= notice %></p>

<p>
  <b>Job:</b>
  <%= @jobcode.job_id %>
</p>

<p>
  <b>Code:</b>
  <%= @jobcode.code_id %>
</p>


<%= link_to 'Edit', edit_jobcode_path(@jobcode) %> |
<%= link_to 'Back', jobcodes_path %>
