<%= form_for(@jobcode) do |f| %>
  <% if @jobcode.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jobcode.errors.count, "error") %> prohibited this jobcode from being saved:</h2>

      <ul>
      <% @jobcode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :job_id %><br />
    <%= f.text_field :job_id %>
  </div>
  <div class="field">
    <%= f.label :code_id %><br />
    <%= f.text_field :code_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
