<h1>Listing Job Tags</h1>

<table>
  <tr>
    <th>Job</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @job_tags.each do |job_tag| %>
  <tr>
    <td><%= job_tag.job_id %></td>
    <td><%= job_tag.tag_id %></td>
    <td><%= link_to 'Show', job_tag %></td>
    <td><%= link_to 'Edit', edit_job_tag_path(job_tag) %></td>
    <td><%= link_to 'Destroy', job_tag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Job Tag', new_job_tag_path %>
