<h1>Listing jobvideos</h1>

<table>
  <tr>
    <th>Job</th>
    <th>Video</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @jobvideos.each do |jobvideo| %>
  <tr>
    <td><%= jobvideo.job_id %></td>
    <td><%= jobvideo.video_id %></td>
    <td><%= link_to 'Show', jobvideo %></td>
    <td><%= link_to 'Edit', edit_jobvideo_path(jobvideo) %></td>
    <td><%= link_to 'Destroy', jobvideo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jobvideo', new_jobvideo_path %>
