<h1>Listing job videos</h1>

<table>
  <tr>
    <th>Job</th>
    <th>Video</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @job_videos.each do |job_video| %>
  <tr>
    <td><%= job_video.job_id %></td>
    <td><%= job_video.video_id %></td>
    <td><%= link_to 'Show', job_video %></td>
    <td><%= link_to 'Edit', edit_job_video_path(jobvideo) %></td>
    <td><%= link_to 'Destroy', job_video, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Jobvideo', new_job_video_path %>
