<%= form_for(@video_tags) do |f| %>
  <% if @video_tags.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video_tags.errors.count, "error") %> prohibited this video tag from being saved:</h2>

      <ul>
      <% @video_tags.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :video_id %><br />
    <%= f.text_field :video_id %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br />
    <%= f.text_field :tag_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
