<h1>Listing video tag</h1>

<table>
  <tr>
    <th>Video</th>
    <th>Tag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @video_tags.each do |video_tag| %>
  <tr>
    <td><%= video_tags.video_id %></td>
    <td><%= video_tags.tag_id %></td>
    <td><%= link_to 'Show', video_tag %></td>
    <td><%= link_to 'Edit', edit_video_tag_path(video_tag) %></td>
    <td><%= link_to 'Destroy', video_tag, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video Tag', new_video_tag_path %>
