<h1>Listing videocodes</h1>

<table>
  <tr>
    <th>Video</th>
    <th>Code</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @videocodes.each do |videocode| %>
  <tr>
    <td><%= videocode.video_id %></td>
    <td><%= videocode.code_id %></td>
    <td><%= link_to 'Show', videocode %></td>
    <td><%= link_to 'Edit', edit_videocode_path(videocode) %></td>
    <td><%= link_to 'Destroy', videocode, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Videocode', new_videocode_path %>
