<p id="notice"><%= notice %></p>

<p>
  <b>Video:</b>
  <%= @video_tag.video_id %>
</p>

<p>
  <b>Tag:</b>
  <%= @video_tag.tag_id %>
</p>


<%= link_to 'Edit', edit_video_tag_path(@video_tag) %> |
<%= link_to 'Back', video_tags_path %>
