.query_container
  %span
    Results for
  %span
    = @query
=form_for Video.new, :url => admin_search_path(:query => @query),:html => {:method => :get,  :id => "filter_form"}, :remote => true do |f|
  = text_field :query , @query 
  = f.label :name
  = f.select :name, options_for_select(Video.unique_names), :include_blank => true 
  = f.label "Camera Angle", :source_cam
  = f.select :source_cam, options_for_select(Video.unique_source_cams ), :include_blank => true
  = submit_tag "Filter", :hidden => true

#result_container
  = render "search_results"
