!!! 5
%html
  %head
    %title Cove
    = stylesheet_link_tag "960.css"
    = stylesheet_link_tag "layout.css"
    = javascript_include_tag "jquery.js"
    = javascript_include_tag "rails.js"
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    .container_12
      .grid_3 COVE
    
      .grid_5.nav
        %ul
          %li= link_to "Home", "/"
          %li= link_to "Jobs", :jobs
          %li= link_to "Tags", :tags
      .grid_4.loginBar
        - if user_signed_in?
          Logged in as:
          = current_user.email
          (#{link_to "Logout", destroy_user_session_path})
        - else
          = link_to "Login", new_user_session_path, :class => "login"
          = link_to "Sign up", new_user_registration_path
  
    .container_12.content
      = yield

    .container_12
      .grid_12
        %p.notice
          = notice
        %p.alert
          = alert
    
