!!! 5
%html
  %head
    %title Cove
    = stylesheet_link_tag "960.css"
    = stylesheet_link_tag "layout.css"
    = javascript_include_tag "jquery.js"
    = javascript_include_tag "rails.js"
    = javascript_include_tag "coveTag.js"
    = javascript_include_tag "/jwplayer/jwplayer.js"
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %header
      .container_12.clearfix
        .grid_2.logo COVE
   
        .grid_6.nav
          %ul
            %li= link_to "Home", "/"
            %li= link_to "Jobs", :jobs
            %li= link_to "Tags", :tags
        .grid_4.loginBar
          - if user_signed_in?
            Logged in as:
            = current_user.email
            (#{link_to "Logout", destroy_user_session_path})
          - else
            = link_to "Login", new_user_session_path, :class => "login"
            = link_to "Sign up", new_user_registration_path

    #middle
      .container_12.clearfix#content
        %p.notice.grid_12
          = notice
        %p.alert.grid_12
          = alert
        = yield


    %footer
      .container_12.clearfix

       
        .grid_12.footer
          %p Copyright &copy; 2011 -- COVE